/* @import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/assets/404/background.png"), #2c3a47f2;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

#container.content {
    max-width: 600px;
    text-align: center;
}

#container .content h2 {
    font-size: 60px;
    color: #ffffff;
    list-style: 1em;
}

#container .content h4 {
    font-size: 25px;
    margin-bottom: 10px;
    color: #ffffff;
}

#container .content p {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 5px;
}

#container .content a {
    display: inline-block;
    padding: 12px 50px;
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    background: #2c3a47;
    color: #ffffff;
    text-decoration: none;
    border: 2px solid #f1f1f1;
    border-radius: 30px;
    margin-top: 16px;
    transition: .3s linear;
}

#container .content a:hover {
    background-color: #f1f1f119;
} */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(14, 30, 37);
    color: white;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    font-size: 22px;
    line-height: 24px;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 75%;
    max-width: 364px;
    padding: 24px;
    background: white;
    color: rgb(14, 30, 37);
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(14, 30, 37, .16);
}

a:hover svg path {
    fill: #007067;
}

p {
    margin: 0;
    margin-top: 8px;
    margin-bottom: 20px;
}

input {
    height: 35px;
    width: 110px;
    margin: 0;
    text-decoration: none;
    border: none;
    line-height: 24px;
    background-color: #007067;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s linear;
}

input:hover {
    opacity: .7;
}