body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(14, 30, 37);
    color: white;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    font-size: 22px;
    line-height: 24px;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 75%;
    max-width: 500px;
    padding: 24px;
    background: white;
    color: rgb(14, 30, 37);
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(14, 30, 37, .16);
}

a:hover svg path {
    fill: #007067;
}

p {
    margin: 0;
    margin-top: 8px;
    margin-bottom: 20px;
}

input {
    height: 35px;
    width: 110px;
    margin: 0;
    text-decoration: none;
    border: none;
    line-height: 24px;
    background-color: #007067;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s linear;
}

input:hover {
    opacity: .7;
}