* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 16px;
}

body::-webkit-scrollbar-track {
    border-radius: 8px;
}

body::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 10px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #888888;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #555555;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    background-color: transparent;
    width: 100%;
    padding: 30px 0;
    top: 0;
    z-index: 999;
    transition: .3s linear;
}

.inner-width {
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
}

.navbar .inner-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 65px;
    height: 65px;
    background-image: url(../assets/wh_logo_circle.png);
    background-size: contain;
}

.menu-toggler {
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
}

.menu-toggler span {
    display: block;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
    position: relative;
    transition: .3s linear;
}

.navbar-menu a {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 30px;
    transition: .2s linear;
}

.navbar-menu a:hover {
    color: #ffffff7f !important;
}

.sticky {
    background-color: #2c3a47;
    padding: 15px 0;
}

.sticky .navbar-menu a {
    color: #ffffff;
}

.sticky .menu-toggler span {
    background-color: #ffffff;
}

#home {
    height: 100vh;
    min-height: 500px;
    background: url(../assets/background.jpg) no-repeat scroll center;
    background-size: cover;
    background-attachment: fixed;
}

#home .inner-width {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

#home .content {
    width: 100%;
    color: #ffffff;
}

#home .content h1 {
    font-size: 60px;
    margin-bottom: 60px;
}

.sm a {
    color: #ffffff;
    font-size: 24px;
    margin: 0 6px;
    transition: .3s linear;
}

.sm a:hover {
    color: #ffffff7f;
}

#home .buttons {
    margin-top: 40px;
}

#home .buttons a {
    display: inline-block;
    margin: 15px 20px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    width: 180px;
    border: 2px solid #20b2aa;
    padding: 14px 0;
    border-radius: 8px;
    transition: .3s linear;
}

#home .buttons a:hover {
    background-color: #20b2aa66;
}

.goTop {
    display: none;
    color: #ffffff;
    position: fixed;
    z-index: 97;
    bottom: 25px;
    right: 25px;
    width: 40px;
    height: 40px;
    background-color: #0055b3;
    border: none;
    border-radius: 100%;
    font-size: 20px;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .menu-toggler {
        display: block;
    }

    .navbar-menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: #2c3a47;
        top: 0;
        right: -100%;
        max-width: 400px;
        padding: 80px 50px;
        transition: .3s linear;
    }

    .navbar-menu a {
        display: block;
        font-size: 25px;
        margin: 30px 0;
    }

    .navbar-menu.active {
        right: 0;
    }

    .menu-toggler.active span:nth-child(1) {
        transform: rotate(-45deg);
        top: 4px;
    }

    .menu-toggler.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggler.active span:nth-child(3) {
        transform: rotate(45deg);
        bottom: 14px;
    }
}