* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
}

/* Scroll Bar */
body::-webkit-scrollbar {
    width: 16px;
    background-color: #333333;
}

body::-webkit-scrollbar-track {
    border-radius: 8px;
}

body::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 10px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #888888;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #555555;
}

html {
    scroll-behavior: smooth;
}

/* Links */
a {
    color: #0055b3;
    transition: .3s linear;
}

a:hover {
    color: #0055b3b2;
}

/* Navigation Bar */
.navbar {
    position: fixed;
    background-color: transparent;
    width: 100%;
    padding: 30px 0;
    top: 0;
    z-index: 999;
    transition: .3s linear;
}

.inner-width {
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
}

.navbar .inner-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 65px;
    height: 65px;
    background-image: url(/assets/logo.png);
    background-size: contain;
}

.menu-toggler {
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
}

.menu-toggler span {
    display: block;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
    position: relative;
    transition: .3s linear;
}

.navbar-menu a {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 30px;
    transition: .3s linear;
}

.navbar-menu a:hover {
    color: #ffffff7f !important;
}

.sticky {
    background-color: #2c3a47;
    padding: 15px 0;
}

.sticky .navbar-menu a {
    color: #ffffff;
}

.sticky .menu-toggler span {
    background-color: #ffffff;
}

/* Home */
#home {
    height: 100vh;
    min-height: 500px;
    background: url(/assets/background.jpg) no-repeat scroll center;
    background-size: cover;
    background-attachment: fixed;
}

#home .inner-width {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

#home .content {
    width: 100%;
    color: #ffffff;
}

#home .content h1 {
    color: #ffffff;
    font-size: 60px;
    margin-bottom: 60px;
}

#home .content h1 a {
    color: #ffffff;
}

.sm a {
    color: #ffffff;
    font-size: 24px;
    margin: 0 6px;
    transition: .3s linear;
}

.sm a:hover {
    opacity: .7;
}

#home .buttons {
    margin-top: 40px;
}

#home .buttons a {
    display: inline-block;
    margin: 15px 20px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    width: 180px;
    border: 2px solid #20b2aa;
    padding: 14px 0;
    border-radius: 8px;
    transition: .3s linear;
}

#home .buttons a:hover {
    background-color: #20b2aa66;
}

/* Sections */
section {
    padding: 100px 0;
    background-color: #ffffff;
}

.section-title {
    text-align: center;
    margin-bottom: 60px;
    position: relative;
    font-size: 26px;
    padding-bottom: 20px;
    color: #000000;
}

.section-title::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    background-color: #000000;
    bottom: 0;
    left: calc(50% - 40px);
}

.section-title::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 10px;
    background-color: #000000;
    border: 4px solid #ffffff;
    left: calc(50% - 12px);
    bottom: -7px;
}

/* About Me */
#about {
    transition: .3s linear;
}

.about-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about-pic {
    width: 200px;
    border-radius: 50%;
    margin-right: 100px;
}

.about-text {
    flex: 1;
}

.about-text h3 {
    color: #333333;
    font-size: 16px;
}

/* .about-text h3 span:nth-child(1):after,
.about-text h3 span:nth-child(2):after {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #444444;
    display: inline-block;
    border-radius: 50%;
    margin: 0 10px;
} */

.about-text p {
    font-size: 16px;
    text-align: justify;
    line-height: 26px;
    margin-top: 10px;
}

.about-sm a {
    margin-top: 8px;
    margin-right: 2px;
    color: #000000;
    font-size: 22px;
    transition: .3s linear;
}

.about-sm a:hover {
    opacity: .7;
}

/* Skills */
.skills {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container {
    position: relative;
    width: 100%;
    margin: 0 15px;
    padding: 10px 20px;
}

.skill-box .skill-title {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #333333;
}

.skill-box .skill-bar {
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0,0,0,0.1);
}

.container .skill-box {
    width: 60%;
    margin: 25px 0;
}

.skill-bar .skill-per {
    position: relative;
    display: block;
    height: 100%;
    border-radius: 6px;
    background: #4070f4;
    animation: progress 1s ease-in-out forwards;
    opacity: 0;
}

.skill-per.css {
    width: 70%;
}

.skill-per.html {
    width: 95%;
}

.skill-per.js {
    width: 80%;
}

.skill-per.nodejs {
    width: 80%;
}

@keyframes progress {
    0% {
        width: 0;
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.skill-per .tooltip {
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
    padding: 2px 6px;
    border-radius: 4px;
    background: #4070f4;
    z-index: 1;
}

.tooltip::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 12px;
    width: 10px;
    z-index: -1;
    background-color: #4070f4;
    transform: translateX(-50%) rotate(45deg);
}

/* Education */
#education {
    transition: .3s linear;
}

.timeline, .projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block {
    width: calc(100% - 20px);
    background: #ffffff;
    border: 2px solid #444444;
    margin: 10px 0;
    padding: 30px;
    position: relative;
    border-radius: 8px;
}

.block::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 120%;
    background-color: #dddddd;
    left: -20px;
    top: 30%;
    transform: rotateY(-50%);
}

.block::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #0055b3;
    left: -28px;
    top: 30px;
    border-radius: 50%;
}

.block h3 {
    font-size: 16px;
    margin: 10px 0;
}

.block p {
    font-size: 14px;
    color: #444444;
}

/* Projects */
#projects {
    transition: .3s linear;
}

.project {
    width: calc(50% - 10px);
    overflow: hidden;
    border-radius: 8px;
    margin: 10px 0;
    cursor: pointer;
    position: relative;
}

.project img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.project::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #000000a5;
    transition: .3s linear;
    opacity: 0;
}

.project .info {
    position: absolute;
    z-index: 2;
    bottom: 40px;
    left: 40px;
    color: #ffffff;
    transition: all .3s ease-out;
    opacity: 0;
}

.info h3 {
    font-weight: 700;
}

.info .cat {
    font-weight: 400;
}

.project:hover::before,
.project:hover .info {
    opacity: 1;
}

/* Social Media */
#social {
    transition: .3s linear;
}

.social-media {
    text-align: center;
}

.social-media a {
    margin: 0 4px;
}

.social-media img {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    transition: .3s linear;
}

.social-media img:hover {
    opacity: .7;
}

/* Footer */
footer {
    background-color: #000000;
    color: #ffffff;
    padding: 30px 0;
    text-align: center;
}

.copyright {
    font-size: 16px;
}

/* Share Button */
.share-btn {
    background: linear-gradient(30deg, #3498db, #5363d8);
    border: none;
    font-size: 20px;
    font-weight: 600;
    padding: 16px 20px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 40px;
    color: #ffffff;
    position: fixed;
    bottom: 25px;
    left: 25px;
    transition: .3s;
    z-index: 97;
}

.share-sm {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
}

.share-sm a {
    color: #ffffff;
}

.share-btn:hover {
    padding: 16px 10px;
    border-radius: 40px;
}

.text, .icon {
    display: inline-block;
    transition-delay: 60ms;
    transition: .3s;
}

.icon {
    margin-right: 2px;
}

.share-sm a:nth-child(2) {
    transition-delay: 60ms;
}

.share-btn:hover .text,
.share-btn:hover .icon,
.share-btn:hover .share-sm a {
    transform: translateY(-40px);
}

.share-sm a:hover {
    opacity: .7;
}

/* Go Top Button */
.goTop {
    display: none;
    background: linear-gradient(30deg, #3498db, #5363d8);
    color: #ffffff;
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 100%;
    font-size: 20px;
    transition: .3s linear;
    cursor: pointer;
    z-index: 97;
}

.goTop:hover {
    opacity: .7;
}

/* Mobile */
@media screen and (max-width: 980px) {
    .menu-toggler {
        display: block;
    }

    .navbar-menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: #2c3a47;
        top: 0;
        right: -100%;
        max-width: 400px;
        padding: 80px 50px;
        transition: .3s linear;
    }

    .navbar-menu a {
        display: block;
        font-size: 25px;
        margin: 30px 0;
    }

    .navbar-menu.active {
        right: 0;
    }

    .menu-toggler.active span:nth-child(1) {
        transform: rotate(-45deg);
        top: 4px;
    }

    .menu-toggler.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggler.active span:nth-child(3) {
        transform: rotate(45deg);
        bottom: 14px;
    }

    .inner-width {
        max-width: 800px;
    }

    /* About */
    .about-pic {
        margin: 0 auto 60px;
    }

    .about-text {
        flex: 100%;
        text-align: center;
    }

    .about-text p {
        text-align: center;
        margin-top: 14px;
    }

    .about-sm {
        margin-top: 2px;
    }

    .container .skill-box {
        width: 100%;
    }

    /* Education */
    .block {
        width: calc(100% - 20px);
        margin-left: auto;
    }

    /* Projects */
    .project {
        width: calc(50% - 10px);
        margin-left: auto;
    }
}

@media screen and (max-width: 600px) {
    .inner-width {
        padding: 0 20px;
    }

    /* Projects */
    .project {
        width: 100%;
    }

    /* Share Button */
    .share-btn {
        padding: 11px 13px;
    }

    .text {
        display: none;
    }

    .icon {
        margin-right: 0;
    }
}

@media (prefers-color-scheme: dark) {
    /* Sections */
    section {
        background-color: #222222;
    }

    .section-title {
        color: #ffffff;
    }

    .section-title::before {
        background-color: #ffffff;
    }

    .section-title::after {
        background-color: #ffffff;
        border: 4px solid #222222;
    }

    /* About Me */
    #about {
        background-color: #222222;
        color: #ffffff;
    }

    #about h3 span {
        color: #999999;
    }

    .about-sm a {
        color: #ffffff;
    }

    .skill-box .skill-title {
        color: #ffffff;
    }

    .skill-box {
        color: #ffffff;
    }

    .skill-box .skill-bar {
        background: #444444;
    }

    /* Education */
    #education {
        background-color: #222222;
        color: #ffffff;
    }

    .block {
        background: #191919;
    }

    .block p {
        color: #ffffff;
    }

    /* Projects */
    #projects {
        background-color: #222222;
        color: #ffffff;
    }

    /* Social Media */
    #social {
        background-color: #222222;
        color: #ffffff;
    }
}